[user]
	email = waldir.leoncio@gmail.com
	name = Waldir Leoncio
[alias]
	df = diff --word-diff=color
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
[core]
	editor = nano
[credential]
    helper = store
