# Default gromit-mpx configuration 
# taken from  Totem's telestrator mode config
# added default entries

# Uncomment to set Hot key and/or Undo key to a custom value. Note that you can only specify single keysyms, not key combos.
HOTKEY = "F1";
UNDOKEY = "F2";

"red Pen" = PEN (size=5 color="red");				
"blue Pen" = "red Pen" (color="blue");				
"yellow Pen" = "red Pen" (color="yellow");			
"green Marker" = PEN (size=20 color="green" arrowsize=0);
"Arrow" = PEN (arrowsize=3 color="green");
									
"Eraser" = ERASER (size = 75);					
									
"default" = "red Pen";						
"default"[SHIFT] = "blue Pen";					
"default"[CONTROL] = "yellow Pen";				
"default"[ALT] = "Arrow";
"default"[Button3] = "Eraser";					

