[user]
  email = w.l.netto@medisin.uio.no
  name = Waldir Leoncio
[alias]
	fix = !sh -c 'git add --all && git commit --amend' 
	getalias = !sh -c 'git config --get alias."${1}"' -
  df = diff --diff-filter=M
  dff = diff --diff-filter=M --word-diff=color
  dfc = diff --diff-filter=M --cached
  dffc = diff --diff-filter=M --cached --word-diff=color
  dfs = diff --ignore-all-space
  lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all -n 15
  lgg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  lgs = log --graph --pretty=short --abbrev-commit --stat
  lgss = log --graph --pretty=short --abbrev-commit --shortstat
  forget = !sh -c 'git filter-branch --index-filter "git rm -rf --cached --ignore-unmatch ${1}" HEAD' -
  countcomm = rev-list --count
  co = checkout
  cb = checkout
  nb = checkout -b
  db = branch --delete
  DB = branch --delete --force
  drb = push --delete
  aa = add --update --verbose
  AA = add --all --verbose
  ap = add --patch
  unstage = restore --staged .
  rp = restore --patch
	rs = !sh -c 'git diff --ignore-all-space --ignore-blank-lines | git apply --cached --allow-empty && git checkout . && git restore --staged .'
  cm = commit --verbose
  cmf = commit --fixup
  cms = commit --squash
  cmm = commit --branch --message
  cma = commit --amend
  rb = rebase --interactive --autosquash
  mg = !sh -c 'mergeIntoDevelop.sh'
  s = status
  ls = status
  history = log --patch --
  fap = fetch --all --prune
	latexdiff = difftool --tool=latexdiff
  pa = push --all
  pt = push --tags
  pb = push --set-upstream ocbe-uio 
  CLEAN = clean --force
  stashm = stash --include-untracked push --message
	RESET = reset --hard
[core]
  editor = vim
  autocrlf = input
[credential]
  helper = store
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[help]
  autocorrect = 1
[merge]
  ff = no
[pull]
  ff = yes
[init]
  defaultBranch = develop
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[difftool "latexdiff"]
  cmd = git-latexdiff-helper \"$LOCAL\" \"$REMOTE\"
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://github.uio.no"]
  helper = !/usr/bin/gh auth git-credential
